@charset "UTF-8";

/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

af|button {
    color: #149;
    border-bottom: 2px solid #149;
    background-image: none;
    border-radius: 5px;
    margin: 5px;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #fff;
}

.navBtn {
    width: 220px;
    padding: 10px 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    outline: 0;
    background-color: white;
    color: #149;
}

af|table {
    border-radius: 0px;
    overflow: hidden;
    background-color: #fdfdfd;
    border: none;
}

af|column::data-cell {
    color: black;
    background-color: #fff;
    padding: 13px 10px;
}

af|column::banded-data-cell {
    color: maroon;
    background-color: red;
}

af|column::column-header-cell {
    /*background-color: #789;*/
    padding: 10px 5px;
    text-align: center;
    /*color: #fff;*/
}

af|panelSpringboard::item {
    background-color: #fafafa;
    border: .5px solid transparent;
    border-radius: 10px;
    margin: 0 5px;
}

af|panelSpringboard {
    margin-top: 10px;
}

af|panelSpringboard::item-text {
    color: #555;
    margin-top: 5px;
}

af|panelSpringboard::body {
    margin-top: 20px;
    padding: 20px 30px;
    margin-left:150px;
    margin-right:150px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    overflow-y:auto;
    padding-bottom:50px;
    
    height:70vh;
    /*border:none;*/
}

af|panelTabbed {
    padding-bottom: 20px;
    padding-right: 20px;
}

af|panelTabbed::tab-text-link, af|panelTabbed::icon-style {
    /*background-color: #f5ffff;*/
}

af|panelTabbed::access-key, af|panelTabbed::body, af|panelTabbed::body-end, af|panelTabbed::body-start, af|panelTabbed::bottom-conveyor-belt-indicator, af|panelTabbed::content, af|panelTabbed::content, af|panelTabbed::conveyor-belt-container, af|panelTabbed::disclosed-remove-disabled-icon, af|panelTabbed::disabled-remove-icon-style, af|panelTabbed::droplist-indicator, af|panelTabbed::end-conveyor-belt-indicator, af|panelTabbed::end-overflow-icon, af|panelTabbed::end-overflow-indicator, af|panelTabbed::footer, af|panelTabbed::header, af|panelTabbed::icon-style, af|panelTabbed::remove-disabled-icon, af|panelTabbed::start-conveyor-belt-indicator, af|panelTabbed::start-overflow-icon, af|panelTabbed::start-overflow-indicator, af|panelTabbed::tab, af|panelTabbed::tab-content, af|panelTabbed::tab-text-link, af|panelTabbed::tabs, af|panelTabbed::toggle, af|panelTabbed::toggle-icon-style, af|panelTabbed::top-conveyor-belt-indicator {
    /*color: white;*/
}

af|inputText::content {
    color: #555;
    background-color: white;
    padding: 18px 5px;
    border-radius:5px;
    border: 0.5px solid #eee;
    box-shadow: 3px 3px 4px -2px rgba(0,0,0,0.2);
}

af|panelBox {
    border: none; 
}