@charset "UTF-8";

/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

af|button {
    color: #149;
    border-bottom: 2px solid #149;
    background-image: none;
    border-radius: 5px;
    margin:5px;
    margin-top:10px;
    padding:5px 10px;
    background-color:#fff;
}

.navBtn {
     width: 220px;
    padding: 10px 5px;
    margin-bottom: 10px;
    border-radius:15px;
    outline: 0;
    background-color:white;
    color:#149;
}