@charset "UTF-8";

/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

af|button {
    color: #149;
    border-bottom: 2px solid #149;
    background-image: none;
    border-radius: 5px;
    margin: 5px;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #fff;
}

af|inputFile {
    margin: 30px 5px;
}

af|inputComboboxListOfValues::content, af|inputDate::content, af|selectOneChoice::content{
    border-left: 2px solid #357 !important;
    border-radius:5px !important;
}

.navBtn {
    width: 220px;
    padding: 10px 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    outline: 0;
    background-color: white;
    color: #149;
}

af|table {
    border-radius: 10px;
    overflow: hidden;
    background-color: #fdfdfd;
    border: none;
}

af|table {
    /*border-bottom:2px solid #357 !important;
border-right:2px solid #357 !important;
padding-bottom:10px;*/

    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
    /*padding-bottom:15px;*/

    transform: translate(0, -20px);
    margin-top: 40px;
    margin-bottom: -15px;
}
/*th {
    background-color: #357  !important;
    border: 0.3px solid rgba(255, 255, 255, .2) !important;
    color: white !important;
}*/
af|column::data-cell {
    color: black;
    background-color: #fff;
    padding: 13px 10px;
}

af|column::banded-data-cell {
}

af|column::column-header-cell {
    padding: 10px 5px;
    text-align: center;
}

af|panelSpringboard::item {
    background-color: #fafafa;
    border: .5px solid transparent;
    border-radius: 10px;
    margin: 0 5px;    
    /*box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.1);*/
}

af|panelSpringboard {
    margin-top: 10px;
}

af|panelSpringboard::item-text {
    color: #555;
    margin-top: 5px;
}

af|panelSpringboard::body {
    margin-top: 20px;
    padding: 20px 30px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    padding-bottom: 50px;
    height: 70vh;
    /*border:none;*/
}
/*PANEL TABBED*/
af|panelTabbed {
    padding-bottom: 20px;
    padding-right: 20px;
}

af|panelTabbed::tab-text-link {
    background-color: #fff !important;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-radius: 5px 0px 0px 8px;
    width: 100% !important;
    color: #149 !important;
}

af|panelTabbed::tab-text-link {
    /*border-bottom: 2px solid white !important;*/
}

af|panelTabbed::body {
    border-right: none !important;
    border-bottom: none !important;
    border-top: none !important;
    padding-left: 30px;
    /*border-radius: 20px !important;*/
}

af|panelTabbed::icon-style {
    display: none;
}

af|panelTabbed::tab-content {
    background-color: transparent !important;
    text-align: center !important;
    overflow: hidden;
}

af|panelTabbed::conveyor-belt-content > div > div > a > .p_AFSelected {
    background-color: #357 !important;
    width: 100% !important;
    color: #fff !important;
    border: none;
    border-color: transparent;
}

af|showDetailItem {
    background-color: #ffffff !important;
    border-radius: 10px !important;
    min-height: 50vh !important;
}

af|panelTabbed::tab {
    margin: 7px 0px;
}

af|panelTabbed::tab, af|panelTabbed::tab-content {
    /*border-color:transparent !important;*/

    border-left: none !important;
    box-shadow: 0 0 0 0 !important;
}

af|panelTabbed::access-key, af|panelTabbed::body, af|panelTabbed::body-end, af|panelTabbed::body-start, af|panelTabbed::bottom-conveyor-belt-indicator, af|panelTabbed::content, af|panelTabbed::content, af|panelTabbed::conveyor-belt-container, af|panelTabbed::disclosed-remove-disabled-icon, af|panelTabbed::disabled-remove-icon-style, af|panelTabbed::droplist-indicator, af|panelTabbed::end-conveyor-belt-indicator, af|panelTabbed::end-overflow-icon, af|panelTabbed::end-overflow-indicator, af|panelTabbed::footer, af|panelTabbed::header, af|panelTabbed::icon-style, af|panelTabbed::remove-disabled-icon, af|panelTabbed::start-conveyor-belt-indicator, af|panelTabbed::start-overflow-icon, af|panelTabbed::start-overflow-indicator, af|panelTabbed::tab-text-link, af|panelTabbed::tabs, af|panelTabbed::toggle, af|panelTabbed::toggle-icon-style, af|panelTabbed::top-conveyor-belt-indicator {
    /*color: white;*/
}

af|inputText::content {
    color: #555;
    background-color: white;
    padding: 18px 5px;
    border-radius: 5px;
    border: 0.5px solid #eee;
    border-left: 2px solid #357 !important;
    box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.2);
}

af|panelBox {
    border: none;
}
/*END OF PANEL TABBED*/